.mainContent {
    display: flex;

}

.mainContent img {
    width: 200px;
    height: 200px;       
}

.mainContent-text {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    margin-top: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
}